asgiref
aws-mfa
boto3
botocore
certifi
charset-normalizer
Django
idna
image
jmespath
numpy
opencv-python
Pillow
python-dateutil
requests
s3transfer
sqlparse
torch
torchvision
tqdm
typing_extensions
urllib3
